<a href="https://colab.research.google.com/github/sunonmountain/Data-Science-Projects-Python/blob/main/entry_spaceship_titanic__kernel_svm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kernel SVM

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
trainset = pd.read_csv('train.csv')
trainset = trainset.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)


testset = pd.read_csv('test.csv')
testset = testset.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

Data Preprocessing

In [ ]:
trainset.shape

(8693, 14)

In [ ]:
testset.shape

(4277, 13)

In [ ]:
trainset.isnull().sum().sum()

2324

In [ ]:
testset.isnull().sum().sum()

1117

In [ ]:
trainset

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [ ]:
data = trainset[trainset['PassengerId'].str.contains('0003_')]
print(data)

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
2     0003_01     Europa     False  A/0/S  TRAPPIST-1e  58.0   True
3     0003_02     Europa     False  A/0/S  TRAPPIST-1e  33.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck           Name  \
2         43.0     3576.0           0.0  6715.0    49.0  Altark Susent
3          0.0     1283.0         371.0  3329.0   193.0   Solam Susent

   Transported
2        False
3        False

Check columns to identify NA

In [ ]:
trainset['PassengerId'].isnull().sum()

0

In [ ]:
trainset['HomePlanet'].isnull().sum()

201

In [ ]:
trainset['CryoSleep'].isnull().sum()

217

In [ ]:
trainset['Cabin'].isnull().sum()

199

In [ ]:
trainset['Destination'].isnull().sum()

182

In [ ]:
trainset['Age'].isnull().sum()

179

In [ ]:
trainset['VIP'].isnull().sum()

203

In [ ]:
trainset['RoomService'].isnull().sum()

181

In [ ]:
trainset['FoodCourt'].isnull().sum()

183

In [ ]:
trainset['ShoppingMall'].isnull().sum()

208

In [ ]:
trainset['Spa'].isnull().sum()

183

In [ ]:
trainset['VRDeck'].isnull().sum()

188

In [ ]:
trainset['Name'].isnull().sum()

200

In [ ]:
trainset['Transported'].isnull().sum()

0

From the results above I have decided to set RoomService, FoodCourt, ShoppingMall, Spa, VRDeck Null values to 0, and drop the rows with remaining null values. As the remaining columns data maybe relevant.

In [ ]:
cols_fill_na = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
trainset[cols_fill_na] = trainset[cols_fill_na].replace(np.nan,0)

In [ ]:
trainset['RoomService'].isnull().sum()

0

In [ ]:
testset[cols_fill_na] = testset[cols_fill_na].replace(np.nan,0)

In [ ]:
trainset['FoodCourt'].isnull().sum()

0

In [ ]:
trainset['ShoppingMall'].isnull().sum()

0

In [ ]:
trainset['Spa'].isnull().sum()

0

In [ ]:
trainset['VRDeck'].isnull().sum()

0

In [ ]:
trainset.isnull().sum().sum()

1381

In [ ]:
testset.isnull().sum().sum()

650

For the test file replace remaining NA with 0.

In [ ]:
testset = testset.fillna(0)

In [ ]:
testset.isnull().sum().sum()

0

In [ ]:
trainset = trainset.fillna(0)

In [ ]:
trainset.isnull().sum().sum()

0

In [ ]:
trainset.shape

(8693, 14)

Decide do I need to split PassengerId into group and Id ?
Also do I split Name into first and second name ?
Cabin split into 3 columns then pandas get dummies ?

In [ ]:
new_id = trainset['PassengerId'].str.split("_", n =1, expand = True)

trainset["Id"] = new_id[0]
trainset["Group"] = new_id[1]
trainset.drop(columns =["PassengerId"], inplace = True)

In [ ]:
new_id_tf = testset['PassengerId'].str.split("_", n =1, expand = True)

testset["Id"] = new_id_tf[0]
testset["Group"] = new_id_tf[1]
testset.drop(columns =["PassengerId"], inplace = True)

In [ ]:
new_name = trainset['Name'].str.split(" ", n =1, expand = True)

trainset["FirstName"] = new_name[0]
trainset["LastName"] = new_name[1]
trainset.drop(columns =["Name"], inplace = True)

In [ ]:
new_name_tf = testset['Name'].str.split(" ", n =1, expand = True)

testset["FirstName"] = new_name_tf[0]
testset["LastName"] = new_name_tf[1]
testset.drop(columns =["Name"], inplace = True)

In [ ]:
new_cabin = trainset['Cabin'].str.split("/", n =2, expand = True)

trainset["CabinDeck"] = new_cabin[0]
trainset["CabinNum"] = new_cabin[1]
trainset["CabinSide"] = new_cabin[2]
trainset.drop(columns =["Cabin"], inplace = True)

In [ ]:
new_cabin_tf = testset['Cabin'].str.split("/", n =2, expand = True)

testset["CabinDeck"] = new_cabin_tf[0]
testset["CabinNum"] = new_cabin_tf[1]
testset["CabinSide"] = new_cabin_tf[2]
testset.drop(columns =["Cabin"], inplace = True)

In [ ]:
trainset.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Id,Group,FirstName,LastName,CabinDeck,CabinNum,CabinSide
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0001,01,Maham,Ofracculy,B,0,P
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,0002,01,Juanna,Vines,F,0,S
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0003,01,Altark,Susent,A,0,S
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0003,02,Solam,Susent,A,0,S
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,0004,01,Willy,Santantines,F,1,S

In [ ]:
testset.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Id,Group,FirstName,LastName,CabinDeck,CabinNum,CabinSide
0,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,0013,01,Nelly,Carsoning,G,3,S
1,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,0018,01,Lerome,Peckers,F,4,S
2,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,0019,01,Sabih,Unhearfus,C,0,S
3,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,0021,01,Meratz,Caltilter,C,1,S
4,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,0023,01,Brence,Harperez,F,5,S

Encoding

In [ ]:
catcols = ['HomePlanet','CryoSleep','Destination','VIP','Id','Group','FirstName','LastName','CabinDeck','CabinNum','CabinSide']
trainset = pd.get_dummies(trainset,columns=catcols, drop_first=True)

In [ ]:
testset = pd.get_dummies(testset,columns=catcols, drop_first=True)

In [ ]:
trainset.shape

(8693, 12983)

In [ ]:
testset.shape

(4277, 8448)

In [ ]:
traincols = trainset.columns
len(traincols)

12983

In [ ]:
testcols = testset.columns
len(testcols)

8448

In [ ]:
non_testcols = trainset.columns[~trainset.columns.isin(testcols)]
non_testcols
len(non_testcols)

8040

In [ ]:
in_testcols = trainset.columns[trainset.columns.isin(testcols)]
in_testcols

Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars',
       'CryoSleep_True',
       ...
       'CabinNum_989', 'CabinNum_99', 'CabinNum_990', 'CabinNum_992',
       'CabinNum_993', 'CabinNum_994', 'CabinNum_995', 'CabinNum_996',
       'CabinNum_997', 'CabinSide_S'],
      dtype='object', length=4943)

Need to drop the above columns and then train model.

From list above identify the columns the data is from by looking at data descriptions. 

This needs to be done prior to encoding.

Then eliminate columns.

In [ ]:
non_testcols= list(non_testcols)
non_testcols.remove('Transported')
non_testcols

['Id_0002',
 'Id_0003',
 'Id_0004',
 'Id_0005',
 'Id_0006',
 'Id_0007',
 'Id_0008',
 'Id_0009',
 'Id_0010',
 'Id_0011',
 'Id_0012',
 'Id_0014',
 'Id_0015',
 'Id_0016',
 'Id_0017',
 'Id_0020',
 'Id_0022',
 'Id_0024',
 'Id_0025',
 'Id_0026',
 'Id_0028',
 'Id_0030',
 'Id_0031',
 'Id_0034',
 'Id_0035',
 'Id_0036',
 'Id_0038',
 'Id_0039',
 'Id_0041',
 'Id_0043',
 'Id_0044',
 'Id_0045',
 'Id_0050',
 'Id_0051',
 'Id_0052',
 'Id_0053',
 'Id_0056',
 'Id_0058',
 'Id_0061',
 'Id_0062',
 'Id_0064',
 'Id_0066',
 'Id_0067',
 'Id_0068',
 'Id_0069',
 'Id_0070',
 'Id_0071',
 'Id_0072',
 'Id_0073',
 'Id_0074',
 'Id_0076',
 'Id_0077',
 'Id_0078',
 'Id_0081',
 'Id_0082',
 'Id_0084',
 'Id_0085',
 'Id_0086',
 'Id_0088',
 'Id_0090',
 'Id_0091',
 'Id_0092',
 'Id_0097',
 'Id_0098',
 'Id_0099',
 'Id_0101',
 'Id_0102',
 'Id_0103',
 'Id_0105',
 'Id_0107',
 'Id_0108',
 'Id_0110',
 'Id_0111',
 'Id_0112',
 'Id_0113',
 'Id_0114',
 'Id_0115',
 'Id_0116',
 'Id_0119',
 'Id_0120',
 'Id_0122',
 'Id_0123',
 'Id_0126',
 'Id_0127',
 'Id_0128',
 'Id_0129',
 'Id_0133',
 'Id_0134',
 'Id_0136',
 'Id_0138',
 'Id_0139',
 'Id_0140',
 'Id_0141',
 'Id_0144',
 'Id_0146',
 'Id_0147',
 'Id_0148',
 'Id_0149',
 'Id_0151',
 'Id_0152',
 'Id_0160',
 'Id_0163',
 'Id_0164',
 'Id_0165',
 'Id_0167',
 'Id_0169',
 'Id_0170',
 'Id_0171',
 'Id_0172',
 'Id_0173',
 'Id_0174',
 'Id_0177',
 'Id_0178',
 'Id_0179',
 'Id_0181',
 'Id_0182',
 'Id_0183',
 'Id_0186',
 'Id_0188',
 'Id_0189',
 'Id_0190',
 'Id_0192',
 'Id_0193',
 'Id_0195',
 'Id_0196',
 'Id_0197',
 'Id_0198',
 'Id_0199',
 'Id_0200',
 'Id_0201',
 'Id_0202',
 'Id_0203',
 'Id_0205',
 'Id_0206',
 'Id_0207',
 'Id_0210',
 'Id_0211',
 'Id_0212',
 'Id_0213',
 'Id_0216',
 'Id_0217',
 'Id_0219',
 'Id_0220',
 'Id_0221',
 'Id_0222',
 'Id_0223',
 'Id_0224',
 'Id_0225',
 'Id_0229',
 'Id_0231',
 'Id_0232',
 'Id_0233',
 'Id_0234',
 'Id_0237',
 'Id_0239',
 'Id_0240',
 'Id_0241',
 'Id_0242',
 'Id_0243',
 'Id_0244',
 'Id_0245',
 'Id_0246',
 'Id_0248',
 'Id_0250',
 'Id_0251',
 'Id_0252',
 'Id_0253',
 'Id_0254',
 'Id_0255',
 'Id_0257',
 'Id_0258',
 'Id_0260',
 'Id_0261',
 'Id_0263',
 'Id_0265',
 'Id_0267',
 'Id_0269',
 'Id_0270',
 'Id_0275',
 'Id_0277',
 'Id_0278',
 'Id_0281',
 'Id_0282',
 'Id_0283',
 'Id_0285',
 'Id_0286',
 'Id_0287',
 'Id_0288',
 'Id_0289',
 'Id_0290',
 'Id_0291',
 'Id_0294',
 'Id_0297',
 'Id_0298',
 'Id_0301',
 'Id_0302',
 'Id_0303',
 'Id_0304',
 'Id_0305',
 'Id_0306',
 'Id_0307',
 'Id_0309',
 'Id_0310',
 'Id_0313',
 'Id_0314',
 'Id_0315',
 'Id_0316',
 'Id_0320',
 'Id_0321',
 'Id_0322',
 'Id_0324',
 'Id_0326',
 'Id_0327',
 'Id_0330',
 'Id_0331',
 'Id_0333',
 'Id_0334',
 'Id_0336',
 'Id_0337',
 'Id_0338',
 'Id_0340',
 'Id_0341',
 'Id_0343',
 'Id_0345',
 'Id_0346',
 'Id_0347',
 'Id_0348',
 'Id_0350',
 'Id_0352',
 'Id_0355',
 'Id_0356',
 'Id_0357',
 'Id_0358',
 'Id_0359',
 'Id_0360',
 'Id_0361',
 'Id_0365',
 'Id_0368',
 'Id_0369',
 'Id_0370',
 'Id_0371',
 'Id_0372',
 'Id_0373',
 'Id_0375',
 'Id_0376',
 'Id_0377',
 'Id_0378',
 'Id_0379',
 'Id_0380',
 'Id_0381',
 'Id_0382',
 'Id_0383',
 'Id_0384',
 'Id_0385',
 'Id_0387',
 'Id_0388',
 'Id_0389',
 'Id_0391',
 'Id_0392',
 'Id_0395',
 'Id_0396',
 'Id_0397',
 'Id_0398',
 'Id_0401',
 'Id_0402',
 'Id_0403',
 'Id_0405',
 'Id_0407',
 'Id_0408',
 'Id_0409',
 'Id_0410',
 'Id_0411',
 'Id_0412',
 'Id_0413',
 'Id_0415',
 'Id_0417',
 'Id_0423',
 'Id_0425',
 'Id_0427',
 'Id_0428',
 'Id_0429',
 'Id_0430',
 'Id_0431',
 'Id_0432',
 'Id_0433',
 'Id_0434',
 'Id_0435',
 'Id_0436',
 'Id_0437',
 'Id_0438',
 'Id_0439',
 'Id_0441',
 'Id_0442',
 'Id_0444',
 'Id_0445',
 'Id_0446',
 'Id_0447',
 'Id_0448',
 'Id_0449',
 'Id_0452',
 'Id_0453',
 'Id_0454',
 'Id_0456',
 'Id_0457',
 'Id_0458',
 'Id_0459',
 'Id_0460',
 'Id_0461',
 'Id_0462',
 'Id_0463',
 'Id_0465',
 'Id_0466',
 'Id_0468',
 'Id_0470',
 'Id_0471',
 'Id_0472',
 'Id_0474',
 'Id_0475',
 'Id_0476',
 'Id_0477',
 'Id_0480',
 'Id_0481',
 'Id_0482',
 'Id_0485',
 'Id_0487',
 'Id_0488',
 'Id_0490',
 'Id_0498',
 'Id_0499',
 'Id_0500',
 'Id_0501',
 'Id_0502',
 'Id_0503',
 'Id_0504',
 'Id_0506',
 'Id_0507',
 'Id_0510',
 'Id_0512',
 'Id_0513',
 'Id_0515',
 'Id_0516',
 'Id_0517',
 'Id_0518',
 'Id_0519',
 'Id_0520',
 'Id_0521',
 'Id_0522',
 'Id_0523',
 'Id_0525',
 'Id_0527',
 'Id_0528',
 'Id_0529',
 'Id_0531',
 'Id_0533',
 'Id_0534',
 'Id_0537',
 'Id_0538',
 'Id_0539',
 'Id_0540',
 'Id_0542',
 'Id_0545',
 'Id_0546',
 'Id_0547',
 'Id_0548',
 'Id_0549',
 'Id_0550',
 'Id_0551',
 'Id_0552',
 'Id_0553',
 'Id_0555',
 'Id_0556',
 'Id_0559',
 'Id_0560',
 'Id_0561',
 'Id_0563',
 'Id_0564',
 'Id_0565',
 'Id_0566',
 'Id_0567',
 'Id_0568',
 'Id_0569',
 'Id_0570',
 'Id_0571',
 'Id_0572',
 'Id_0573',
 'Id_0575',
 'Id_0576',
 'Id_0577',
 'Id_0579',
 'Id_0580',
 'Id_0581',
 'Id_0582',
 'Id_0583',
 'Id_0585',
 'Id_0586',
 'Id_0587',
 'Id_0588',
 'Id_0589',
 'Id_0590',
 'Id_0591',
 'Id_0593',
 'Id_0594',
 'Id_0596',
 'Id_0597',
 'Id_0598',
 'Id_0599',
 'Id_0600',
 'Id_0602',
 'Id_0603',
 'Id_0607',
 'Id_0608',
 'Id_0609',
 'Id_0610',
 'Id_0611',
 'Id_0612',
 'Id_0614',
 'Id_0615',
 'Id_0618',
 'Id_0619',
 'Id_0623',
 'Id_0628',
 'Id_0629',
 'Id_0630',
 'Id_0631',
 'Id_0633',
 'Id_0634',
 'Id_0635',
 'Id_0636',
 'Id_0637',
 'Id_0638',
 'Id_0639',
 'Id_0641',
 'Id_0642',
 'Id_0643',
 'Id_0644',
 'Id_0645',
 'Id_0646',
 'Id_0647',
 'Id_0650',
 'Id_0653',
 'Id_0655',
 'Id_0656',
 'Id_0657',
 'Id_0658',
 'Id_0659',
 'Id_0660',
 'Id_0661',
 'Id_0663',
 'Id_0664',
 'Id_0665',
 'Id_0668',
 'Id_0669',
 'Id_0671',
 'Id_0672',
 'Id_0674',
 'Id_0677',
 'Id_0678',
 'Id_0679',
 'Id_0680',
 'Id_0682',
 'Id_0683',
 'Id_0684',
 'Id_0685',
 'Id_0686',
 'Id_0687',
 'Id_0688',
 'Id_0689',
 'Id_0690',
 'Id_0691',
 'Id_0693',
 'Id_0696',
 'Id_0697',
 'Id_0699',
 'Id_0701',
 'Id_0702',
 'Id_0703',
 'Id_0704',
 'Id_0705',
 'Id_0707',
 'Id_0709',
 'Id_0710',
 'Id_0712',
 'Id_0713',
 'Id_0714',
 'Id_0715',
 'Id_0718',
 'Id_0719',
 'Id_0724',
 'Id_0726',
 'Id_0727',
 'Id_0728',
 'Id_0729',
 'Id_0732',
 'Id_0733',
 'Id_0734',
 'Id_0736',
 'Id_0737',
 'Id_0738',
 'Id_0740',
 'Id_0743',
 'Id_0746',
 'Id_0750',
 'Id_0753',
 'Id_0754',
 'Id_0756',
 'Id_0757',
 'Id_0761',
 'Id_0762',
 'Id_0764',
 'Id_0765',
 'Id_0767',
 'Id_0768',
 'Id_0769',
 'Id_0770',
 'Id_0771',
 'Id_0772',
 'Id_0773',
 'Id_0776',
 'Id_0777',
 'Id_0779',
 'Id_0781',
 'Id_0782',
 'Id_0784',
 'Id_0785',
 'Id_0786',
 'Id_0787',
 'Id_0788',
 'Id_0789',
 'Id_0790',
 'Id_0791',
 'Id_0793',
 'Id_0794',
 'Id_0795',
 'Id_0796',
 'Id_0797',
 'Id_0798',
 'Id_0799',
 'Id_0802',
 'Id_0805',
 'Id_0806',
 'Id_0808',
 'Id_0809',
 'Id_0811',
 'Id_0813',
 'Id_0815',
 'Id_0816',
 'Id_0817',
 'Id_0818',
 'Id_0819',
 'Id_0820',
 'Id_0822',
 'Id_0823',
 'Id_0824',
 'Id_0825',
 'Id_0826',
 'Id_0828',
 'Id_0829',
 'Id_0830',
 'Id_0833',
 'Id_0834',
 'Id_0835',
 'Id_0836',
 'Id_0839',
 'Id_0840',
 'Id_0845',
 'Id_0846',
 'Id_0848',
 'Id_0849',
 'Id_0850',
 'Id_0851',
 'Id_0853',
 'Id_0859',
 'Id_0860',
 'Id_0863',
 'Id_0865',
 'Id_0867',
 'Id_0868',
 'Id_0869',
 'Id_0870',
 'Id_0871',
 'Id_0873',
 'Id_0874',
 'Id_0875',
 'Id_0876',
 'Id_0877',
 'Id_0878',
 'Id_0879',
 'Id_0881',
 'Id_0883',
 'Id_0885',
 'Id_0889',
 'Id_0890',
 'Id_0893',
 'Id_0898',
 'Id_0899',
 'Id_0901',
 'Id_0902',
 'Id_0903',
 'Id_0904',
 'Id_0905',
 'Id_0906',
 'Id_0907',
 'Id_0910',
 'Id_0911',
 'Id_0912',
 'Id_0913',
 'Id_0915',
 'Id_0918',
 'Id_0919',
 'Id_0921',
 'Id_0922',
 'Id_0923',
 'Id_0924',
 'Id_0925',
 'Id_0926',
 'Id_0927',
 'Id_0928',
 'Id_0930',
 'Id_0931',
 'Id_0932',
 'Id_0933',
 'Id_0935',
 'Id_0938',
 'Id_0939',
 'Id_0940',
 'Id_0941',
 'Id_0942',
 'Id_0944',
 'Id_0946',
 'Id_0947',
 'Id_0949',
 'Id_0951',
 'Id_0952',
 'Id_0953',
 'Id_0955',
 'Id_0956',
 'Id_0957',
 'Id_0960',
 'Id_0961',
 'Id_0964',
 'Id_0965',
 'Id_0966',
 'Id_0968',
 'Id_0969',
 'Id_0970',
 'Id_0971',
 'Id_0972',
 'Id_0975',
 'Id_0976',
 'Id_0978',
 'Id_0979',
 'Id_0982',
 'Id_0983',
 'Id_0984',
 'Id_0985',
 'Id_0987',
 'Id_0988',
 'Id_0989',
 'Id_0990',
 'Id_0991',
 'Id_0992',
 'Id_0993',
 'Id_0994',
 'Id_0995',
 'Id_0997',
 'Id_0998',
 'Id_1000',
 'Id_1001',
 'Id_1002',
 'Id_1004',
 'Id_1005',
 'Id_1006',
 'Id_1008',
 'Id_1011',
 'Id_1012',
 'Id_1013',
 'Id_1014',
 'Id_1015',
 'Id_1017',
 'Id_1018',
 'Id_1019',
 'Id_1020',
 'Id_1022',
 'Id_1024',
 'Id_1025',
 'Id_1026',
 'Id_1027',
 'Id_1029',
 'Id_1030',
 'Id_1031',
 'Id_1032',
 'Id_1033',
 'Id_1034',
 'Id_1035',
 'Id_1036',
 'Id_1038',
 'Id_1040',
 'Id_1041',
 'Id_1043',
 'Id_1045',
 'Id_1046',
 'Id_1047',
 'Id_1048',
 'Id_1049',
 'Id_1051',
 'Id_1052',
 'Id_1053',
 'Id_1054',
 'Id_1056',
 'Id_1057',
 'Id_1058',
 'Id_1060',
 'Id_1062',
 'Id_1063',
 'Id_1065',
 'Id_1066',
 'Id_1068',
 'Id_1071',
 'Id_1075',
 'Id_1076',
 'Id_1077',
 'Id_1078',
 'Id_1079',
 'Id_1080',
 'Id_1082',
 'Id_1083',
 'Id_1084',
 'Id_1085',
 'Id_1086',
 'Id_1088',
 'Id_1089',
 'Id_1091',
 'Id_1093',
 'Id_1094',
 'Id_1095',
 'Id_1096',
 'Id_1097',
 'Id_1099',
 'Id_1100',
 'Id_1102',
 'Id_1105',
 'Id_1108',
 'Id_1110',
 'Id_1112',
 'Id_1113',
 'Id_1114',
 'Id_1115',
 'Id_1116',
 'Id_1117',
 'Id_1121',
 'Id_1123',
 'Id_1127',
 'Id_1129',
 'Id_1130',
 'Id_1132',
 'Id_1133',
 'Id_1134',
 'Id_1136',
 'Id_1140',
 'Id_1141',
 'Id_1142',
 'Id_1144',
 'Id_1146',
 'Id_1147',
 'Id_1148',
 'Id_1149',
 'Id_1150',
 'Id_1152',
 'Id_1153',
 'Id_1154',
 'Id_1155',
 'Id_1156',
 'Id_1161',
 'Id_1162',
 'Id_1163',
 'Id_1165',
 'Id_1166',
 'Id_1167',
 'Id_1168',
 'Id_1169',
 'Id_1170',
 'Id_1173',
 'Id_1174',
 'Id_1175',
 'Id_1177',
 'Id_1178',
 'Id_1179',
 'Id_1180',
 'Id_1182',
 'Id_1185',
 'Id_1186',
 'Id_1187',
 'Id_1188',
 'Id_1190',
 'Id_1191',
 'Id_1192',
 'Id_1193',
 'Id_1195',
 'Id_1197',
 'Id_1198',
 'Id_1199',
 'Id_1203',
 'Id_1206',
 'Id_1208',
 'Id_1210',
 'Id_1211',
 'Id_1212',
 'Id_1213',
 'Id_1214',
 'Id_1215',
 'Id_1216',
 'Id_1218',
 'Id_1220',
 'Id_1221',
 'Id_1222',
 'Id_1223',
 'Id_1225',
 'Id_1228',
 'Id_1229',
 'Id_1230',
 'Id_1231',
 'Id_1232',
 'Id_1233',
 'Id_1234',
 'Id_1235',
 'Id_1236',
 'Id_1238',
 'Id_1239',
 'Id_1240',
 'Id_1242',
 'Id_1243',
 'Id_1246',
 'Id_1248',
 'Id_1250',
 'Id_1254',
 'Id_1255',
 'Id_1256',
 'Id_1258',
 'Id_1259',
 'Id_1260',
 'Id_1261',
 'Id_1263',
 'Id_1264',
 'Id_1267',
 'Id_1269',
 'Id_1271',
 'Id_1273',
 'Id_1274',
 'Id_1278',
 'Id_1279',
 'Id_1280',
 'Id_1281',
 'Id_1282',
 'Id_1283',
 'Id_1284',
 'Id_1285',
 'Id_1286',
 'Id_1287',
 'Id_1288',
 'Id_1289',
 'Id_1291',
 'Id_1292',
 'Id_1293',
 'Id_1294',
 'Id_1295',
 'Id_1299',
 'Id_1300',
 'Id_1302',
 'Id_1304',
 'Id_1306',
 'Id_1307',
 'Id_1308',
 'Id_1309',
 'Id_1310',
 'Id_1311',
 'Id_1312',
 'Id_1316',
 'Id_1317',
 'Id_1322',
 'Id_1323',
 'Id_1324',
 'Id_1325',
 'Id_1326',
 'Id_1328',
 'Id_1330',
 'Id_1331',
 'Id_1332',
 'Id_1333',
 'Id_1335',
 'Id_1336',
 'Id_1337',
 'Id_1340',
 'Id_1342',
 'Id_1345',
 'Id_1347',
 'Id_1348',
 'Id_1350',
 'Id_1351',
 'Id_1352',
 'Id_1353',
 'Id_1355',
 'Id_1356',
 'Id_1357',
 'Id_1360',
 'Id_1362',
 'Id_1365',
 'Id_1366',
 'Id_1368',
 'Id_1370',
 'Id_1371',
 'Id_1375',
 'Id_1376',
 'Id_1377',
 'Id_1378',
 'Id_1379',
 'Id_1380',
 'Id_1381',
 'Id_1382',
 'Id_1383',
 'Id_1384',
 'Id_1385',
 'Id_1386',
 'Id_1387',
 'Id_1389',
 'Id_1390',
 'Id_1391',
 'Id_1393',
 'Id_1395',
 'Id_1397',
 'Id_1398',
 'Id_1399',
 'Id_1400',
 'Id_1401',
 'Id_1402',
 'Id_1403',
 'Id_1404',
 'Id_1406',
 'Id_1407',
 'Id_1408',
 'Id_1410',
 'Id_1412',
 'Id_1413',
 'Id_1414',
 'Id_1415',
 'Id_1416',
 'Id_1417',
 'Id_1419',
 'Id_1420',
 'Id_1421',
 'Id_1423',
 'Id_1424',
 'Id_1425',
 'Id_1426',
 'Id_1427',
 'Id_1428',
 'Id_1430',
 'Id_1431',
 'Id_1433',
 'Id_1434',
 'Id_1435',
 'Id_1438',
 'Id_1439',
 'Id_1440',
 'Id_1442',
 'Id_1443',
 'Id_1444',
 'Id_1445',
 'Id_1447',
 'Id_1450',
 'Id_1451',
 'Id_1452',
 'Id_1453',
 'Id_1454',
 'Id_1455',
 'Id_1457',
 'Id_1458',
 'Id_1460',
 'Id_1461',
 'Id_1462',
 'Id_1463',
 'Id_1465',
 'Id_1467',
 'Id_1474',
 'Id_1478',
 'Id_1479',
 'Id_1481',
 'Id_1484',
 'Id_1485',
 'Id_1488',
 'Id_1489',
 'Id_1490',
 'Id_1491',
 'Id_1493',
 'Id_1498',
 'Id_1499',
 'Id_1500',
 'Id_1501',
 'Id_1503',
 'Id_1506',
 'Id_1507',
 ...]

In [ ]:
trainset = trainset.drop(columns=non_testcols)
trainset.shape

(8693, 4944)

Now need to add in cols in test that are not in train.

In [ ]:
non_traincols = testset.columns[~testset.columns.isin(traincols)]
non_traincols = list(non_traincols)
len(non_traincols)

3505

Add to existing dataframe

In [ ]:
trainset = trainset.reindex(columns = trainset.columns.tolist() + non_traincols)
trainset.shape

(8693, 8449)

In [ ]:
trainset['Transported']

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [ ]:
trainset = trainset.fillna(0)

Feature scale Age, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck

In [ ]:
fs_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
trainset[fs_cols] = sc.fit_transform(trainset[fs_cols])
testset[fs_cols] = sc.fit_transform(testset[fs_cols])

In [ ]:
target = list(trainset)


target.remove('Transported')
X = trainset[target].values
y = trainset['Transported'].values

In [ ]:
y

array([False,  True, False, ...,  True, False,  True])

In [ ]:
trainset['Transported']

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [ ]:
trainset.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,...,CabinNum_1874,CabinNum_1879,CabinNum_1881,CabinNum_1882,CabinNum_1883,CabinNum_1885,CabinNum_1887,CabinNum_1890,CabinNum_628,CabinNum_909
0,0.721984,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,False,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.283969,-0.168073,-0.275387,-0.241771,0.217158,-0.224205,True,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.996191,-0.268001,1.959998,-0.283579,5.695623,-0.219796,False,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.319603,-0.333105,0.523010,0.336851,2.687176,-0.092818,False,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.820477,0.125652,-0.237159,-0.031059,0.231374,-0.261240,True,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
print(X_train)

[[ 0.5878571  -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 1.05730188 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [-0.0827783  -0.05754793 -0.28102673 ...  0.          0.
   0.        ]
 ...
 [ 0.05134878  0.45874243 -0.28102673 ...  0.          0.
   0.        ]
 [-1.89349388 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 1.12436542 -0.33310466 -0.27538657 ...  0.          0.
   0.        ]]

In [ ]:
print(y_train)

[ True  True False ... False False False]

In [ ]:
print(X_test)

[[-0.82047724 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [-1.7593668  -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 0.18547586  0.44965814 -0.28040005 ...  0.          0.
   0.        ]
 ...
 [ 0.31960294 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 0.31960294 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [-1.22285848 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]]

In [ ]:
print(y_test)

[ True  True False ...  True  True  True]

In [ ]:
print(X_train)

[[ 0.5878571  -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 1.05730188 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [-0.0827783  -0.05754793 -0.28102673 ...  0.          0.
   0.        ]
 ...
 [ 0.05134878  0.45874243 -0.28102673 ...  0.          0.
   0.        ]
 [-1.89349388 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 1.12436542 -0.33310466 -0.27538657 ...  0.          0.
   0.        ]]

In [ ]:
print(X_test)

[[-0.82047724 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [-1.7593668  -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 0.18547586  0.44965814 -0.28040005 ...  0.          0.
   0.        ]
 ...
 [ 0.31960294 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [ 0.31960294 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]
 [-1.22285848 -0.33310466 -0.28102673 ...  0.          0.
   0.        ]]

## Training the Kernel SVM model on the Training set

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', C = 0.75, gamma= 0.1, random_state = 0)

classifier.fit(X_train, y_train)

SVC(C=0.75, gamma=0.1, random_state=0)

## Predicting the Test set results

In [ ]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[False  True]
 [ True  True]
 [False False]
 ...
 [ True  True]
 [ True  True]
 [ True  True]]

## Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[829 248]
 [192 905]]

0.797608095676173

Predicted output on test file data

In [ ]:
entry_y_pred = classifier.predict(testset)
entry_y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but SVC was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([ True, False,  True, ...,  True,  True,  True])

In [ ]:
len(entry_y_pred)

4277

In [ ]:
testset_2 = pd.read_csv('test.csv')
PassengerId = testset_2["PassengerId"]

In [ ]:
Transported = entry_y_pred

In [ ]:
ef = pd.DataFrame(list(zip(PassengerId,Transported)), columns=['PassengerId', 'Transported'])
ef

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [ ]:
ef.to_csv('spaceship_titanic.csv', index=False)

**Conclusion**

On large datasets grid search should be used with few parameters to get an idea of direction otherwise will take forever.

Check features for train and test at the start.

Maybe consider redoing and dropping name column at the start, for both train and test.