<a href="https://colab.research.google.com/github/sunonmountain/Data-Science-Projects-Python/blob/main/entry__house_prices__random_forest_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Forest Regression

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

Drop duplicates

In [ ]:
trainset = pd.read_csv('train.csv')
trainset = trainset.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)


testset = pd.read_csv('test.csv')
testset = testset.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [ ]:
trainset['Condition2']

0       Norm
1       Norm
2       Norm
3       Norm
4       Norm
        ...
1455    Norm
1456    Norm
1457    Norm
1458    Norm
1459    Norm
Name: Condition2, Length: 1460, dtype: object

In [ ]:
trainset.shape

(1460, 81)

In [ ]:
testset.shape

(1459, 80)

Drop Month Sold and Year Sold columns as these post sale.

In [ ]:
trainset = trainset.drop(['Id','YrSold', 'MoSold'], axis=1)

testset = testset.drop(['Id','YrSold', 'MoSold'], axis=1)

Replace NA with 0

In [ ]:
trainset =trainset.fillna(0)

testset =testset.fillna(0)

Finish the catcols

In [ ]:
catcols = ['MSSubClass','MSZoning','Street','Alley','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle','OverallQual','OverallCond','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Heating','HeatingQC','CentralAir','Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive','PoolQC','Fence','MiscFeature','SaleType','SaleCondition','YearBuilt','YearRemodAdd']

Seperate out categorical columns for encoding

In [ ]:
non_catcols = trainset.columns[~trainset.columns.isin(trainset[catcols])]

In [ ]:
non_catcols

Index(['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'SalePrice'],
      dtype='object')

In [ ]:
trainset.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,0,WD,Normal,208500
1,20,RL,80.0,9600,Pave,0,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,0,0,WD,Normal,181500
2,60,RL,68.0,11250,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,0,0,WD,Normal,223500
3,70,RL,60.0,9550,Pave,0,IR1,Lvl,AllPub,Corner,...,0,0,0,0,0,0,0,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,0,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,0,0,WD,Normal,250000

Encode the category columns

In [ ]:
trainset = pd.get_dummies(trainset,columns=catcols, drop_first=True)

testset = pd.get_dummies(testset,columns=catcols, drop_first=True)

In [ ]:
trainset.shape

(1460, 457)

In [ ]:
testset.shape

(1459, 439)

In [ ]:
traincols = trainset.columns
len(traincols)

457

In [ ]:
testcols = testset.columns
len(testcols)

439

In [ ]:
non_testcols = trainset.columns[~trainset.columns.isin(testcols)]
non_testcols
len(non_testcols)

31

In [ ]:
in_testcols = trainset.columns[trainset.columns.isin(testcols)]
in_testcols

Index(['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       ...
       'YearRemodAdd_2001', 'YearRemodAdd_2002', 'YearRemodAdd_2003',
       'YearRemodAdd_2004', 'YearRemodAdd_2005', 'YearRemodAdd_2006',
       'YearRemodAdd_2007', 'YearRemodAdd_2008', 'YearRemodAdd_2009',
       'YearRemodAdd_2010'],
      dtype='object', length=426)

Need to drop the above columns and then train model.

From list above identify the columns the data is from by looking at data descriptions. 

This needs to be done prior to encoding.

Then eliminate columns.

In [ ]:

non_testcols= list(non_testcols)
non_testcols.pop(0)
non_testcols

['Utilities_NoSeWa',
 'Condition2_RRAe',
 'Condition2_RRAn',
 'Condition2_RRNn',
 'HouseStyle_2.5Fin',
 'RoofMatl_CompShg',
 'RoofMatl_Membran',
 'RoofMatl_Metal',
 'RoofMatl_Roll',
 'Exterior1st_ImStucc',
 'Exterior1st_Stone',
 'Exterior2nd_Other',
 'Heating_GasA',
 'Heating_OthW',
 'Electrical_FuseA',
 'Electrical_Mix',
 'GarageQual_Ex',
 'PoolQC_Fa',
 'MiscFeature_TenC',
 'YearBuilt_1875',
 'YearBuilt_1882',
 'YearBuilt_1885',
 'YearBuilt_1892',
 'YearBuilt_1893',
 'YearBuilt_1898',
 'YearBuilt_1904',
 'YearBuilt_1906',
 'YearBuilt_1908',
 'YearBuilt_1911',
 'YearBuilt_1913']

In [ ]:
trainset = trainset.drop(columns=non_testcols)
trainset.shape

(1460, 427)

Now need to add in cols in test that are not in train.

In [ ]:
non_traincols = testset.columns[~testset.columns.isin(traincols)]
non_traincols = list(non_traincols)
len(non_traincols)

13

Add to existing dataframe

In [ ]:
trainset = trainset.reindex(columns = trainset.columns.tolist() + non_traincols)
trainset.shape

(1460, 440)

In [ ]:
trainset =trainset.fillna(0)

In [ ]:
X =trainset.loc[:,trainset.columns != 'SalePrice'].values
y = trainset.loc[:,'SalePrice'].values

Split data into Train and Test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Decision Tree Regression model on the Training set

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

## Predicting the Test set results

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[270320.  200624. ]
 [135550.  133000. ]
 [112640.  110000. ]
 [204909.  192000. ]
 [ 92170.   88000. ]
 [109948.   85000. ]
 [224862.8 282922. ]
 [121490.  141000. ]
 [551210.6 745000. ]
 [140583.3 148800. ]
 [201415.3 208900. ]
 [156900.  136905. ]
 [218990.  225000. ]
 [127138.3 123000. ]
 [132950.  119200. ]
 [152220.  145000. ]
 [235379.5 190000. ]
 [104520.  123600. ]
 [140700.  149350. ]
 [156600.  155000. ]
 [141150.  166000. ]
 [141950.  144500. ]
 [ 94429.3 110000. ]
 [171930.  174000. ]
 [212840.  185000. ]
 [203235.  168000. ]
 [157500.  177500. ]
 [ 81200.   84500. ]
 [321680.  320000. ]
 [119750.  118500. ]
 [179992.6 110000. ]
 [202266.5 213000. ]
 [145690.  156000. ]
 [275379.9 250000. ]
 [335899.  372500. ]
 [169007.5 175000. ]
 [267200.  277500. ]
 [127300.  112500. ]
 [226510.  263000. ]
 [308566.8 325000. ]
 [224400.  243000. ]
 [125900.  130000. ]
 [182213.6 164990. ]
 [338854.8 280000. ]
 [424649.7 403000. ]
 [153160.  119000. ]
 [121550.  125000. ]
 [125975.  128200. ]
 [162690.  172500. ]
 [109240.   84900. ]
 [398811.9 412500. ]
 [140635.  156000. ]
 [167920.  167900. ]
 [ 91390.  100000. ]
 [291140.  275000. ]
 [118980.  123000. ]
 [132850.  132000. ]
 [264899.8 239900. ]
 [144580.  139000. ]
 [112375.  115000. ]
 [156240.  137500. ]
 [132815.  135000. ]
 [136945.  134450. ]
 [166180.  180500. ]
 [215340.  193500. ]
 [176600.  156500. ]
 [129237.5 132000. ]
 [191678.  224500. ]
 [117470.  139000. ]
 [192093.2 225000. ]
 [177133.5 188500. ]
 [116260.  118000. ]
 [ 92729.3  82000. ]
 [209758.5 392000. ]
 [115136.6 112000. ]
 [259007.7 248900. ]
 [130900.  134500. ]
 [110845.   79500. ]
 [294418.2 320000. ]
 [164343.4 158000. ]
 [125136.  140000. ]
 [128030.  136500. ]
 [126790.  107500. ]
 [138450.  145000. ]
 [216968.  200500. ]
 [199825.  185000. ]
 [141990.  105000. ]
 [205026.  202665. ]
 [178650.5 186000. ]
 [136065.  136000. ]
 [186246.5 200500. ]
 [184970.  190000. ]
 [170520.  187500. ]
 [219350.  200000. ]
 [260831.9 172500. ]
 [141620.  157000. ]
 [204367.  213000. ]
 [168583.2 185000. ]
 [122680.  124500. ]
 [151999.  162900. ]
 [269690.  260000. ]
 [187261.  198500. ]
 [115280.  120000. ]
 [153733.5 159500. ]
 [121450.  105900. ]
 [269737.7 260000. ]
 [143150.  143000. ]
 [109490.  106500. ]
 [177344.  178900. ]
 [102700.  127000. ]
 [ 87290.   90350. ]
 [133430.  118500. ]
 [191360.  190000. ]
 [118050.  119900. ]
 [175050.8 183900. ]
 [160940.  155000. ]
 [387045.  386250. ]
 [129660.  133000. ]
 [210180.  193500. ]
 [255737.9 270000. ]
 [123752.5 141000. ]
 [163100.  146000. ]
 [144195.  128500. ]
 [191450.  176000. ]
 [228950.  214000. ]
 [207897.  222000. ]
 [357773.2 415298. ]
 [193334.2 187750. ]
 [183819.5 199900. ]
 [174140.  180000. ]
 [230042.4 206300. ]
 [196710.  194000. ]
 [140052.2 142953. ]
 [188468.5 182900. ]
 [106511.6 116050. ]
 [233620.  213250. ]
 [139753.4 139500. ]
 [179560.  179000. ]
 [105444.4 107900. ]
 [187941.5 175900. ]
 [137387.5 158500. ]
 [137100.  145000. ]
 [247710.  217000. ]
 [136700.  150500. ]
 [165020.  108959. ]
 [179220.  165600. ]
 [211400.  201000. ]
 [139670.  145500. ]
 [260990.  319900. ]
 [244200.  215000. ]
 [164965.  180500. ]
 [349004.1 367294. ]
 [272166.1 239000. ]
 [162740.  145900. ]
 [184750.  161000. ]
 [234394.3 250000. ]
 [118930.8  89471. ]
 [184820.  230000. ]
 [114315.  147000. ]
 [166005.  163900. ]
 [122245.   97000. ]
 [151380.  142000. ]
 [193691.  197000. ]
 [118680.  129000. ]
 [246072.8 232000. ]
 [119450.  115000. ]
 [152850.  175000. ]
 [291094.3 265000. ]
 [199603.5 207000. ]
 [171130.  181000. ]
 [170220.  176000. ]
 [160450.  171000. ]
 [207302.  196000. ]
 [164530.  176000. ]
 [120107.6 113000. ]
 [108820.  139000. ]
 [136170.  135000. ]
 [210840.  240000. ]
 [118140.  112000. ]
 [148825.  134000. ]
 [298119.2 316600. ]
 [188500.  170000. ]
 [115370.  116000. ]
 [300557.  306000. ]
 [132350.   82500. ]
 [217115.  175000. ]
 [ 92930.  106000. ]
 [200460.  194000. ]
 [261594.3 194201. ]
 [138740.  155900. ]
 [141450.  138000. ]
 [150425.  177000. ]
 [206420.  214000. ]
 [132130.  148000. ]
 [126120.  127000. ]
 [145490.  142500. ]
 [ 92040.   80000. ]
 [123430.  145000. ]
 [174810.  171000. ]
 [129185.  122500. ]
 [135910.  139000. ]
 [175320.  189000. ]
 [108190.  120500. ]
 [110125.8 124000. ]
 [139646.4 160000. ]
 [239246.2 200000. ]
 [145640.  160000. ]
 [301416.3 313000. ]
 [262793.  275000. ]
 [ 92300.   67000. ]
 [153012.5 159000. ]
 [286940.  251000. ]
 [106390.   92900. ]
 [104400.  109500. ]
 [373344.3 385000. ]
 [199920.  129000. ]
 [175650.   82500. ]
 [261150.  301000. ]
 [248095.6 249700. ]
 [ 84300.   81000. ]
 [188150.  187500. ]
 [168850.  110000. ]
 [133260.  117000. ]
 [124900.8 128500. ]
 [206650.  213490. ]
 [294321.7 284000. ]
 [245496.  230500. ]
 [226288.  190000. ]
 [132325.  135000. ]
 [158383.5 152000. ]
 [ 91680.   87500. ]
 [139630.  155000. ]
 [101350.  115000. ]
 [140810.  144000. ]
 [229890.  248000. ]
 [122980.  132500. ]
 [133350.  136000. ]
 [120090.  117000. ]
 [ 84396.8  82000. ]
 [172340.  157500. ]
 [117860.  110000. ]
 [208783.2 181000. ]
 [209950.  192500. ]
 [225650.  223500. ]
 [170730.  181500. ]
 [153838.  170000. ]
 [180970.  187500. ]
 [188104.  185900. ]
 [124650.  160000. ]
 [190160.  192000. ]
 [179590.  181900. ]
 [255737.9 266000. ]
 [ 95930.   99900. ]
 [382725.7 438780. ]
 [216640.  229456. ]
 [230770.  216837. ]
 [ 97400.  110500. ]
 [200107.8 175900. ]
 [424890.4 538000. ]
 [346270.  160000. ]
 [211840.  172500. ]
 [132460.  108000. ]
 [135007.5 131500. ]
 [ 88780.  106250. ]
 [444137.8 385000. ]
 [344484.4 370878. ]
 [302109.2 345000. ]
 [ 71550.   68500. ]
 [193600.  250000. ]
 [242845.6 245350. ]
 [132700.  125000. ]
 [206849.  234000. ]
 [144286.8 145000. ]
 [166440.  181000. ]
 [115900.  104000. ]
 [220117.8 233000. ]
 [222938.7 164000. ]
 [169798.7 219500. ]
 [228095.  195000. ]
 [136508.4 108000. ]
 [135990.  149900. ]
 [408016.1 315000. ]
 [165095.  177500. ]
 [153250.  140000. ]
 [204397.  193879. ]
 [218260.  137900. ]
 [117845.  118000. ]
 [265890.  324000. ]
 [518288.4 555000. ]
 [181680.  136000. ]
 [ 76470.   82500. ]
 [ 79400.  101000. ]]

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

0.8257780287229617

## Applying k-Fold Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 83.83 %
Standard Deviation: 5.32 %

Predicted output on test file data

In [ ]:
entry_y_pred = regressor.predict(testset)
entry_y_pred
#np.set_printoptions(precision=2)
#print((entry_y_pred.reshape(len(entry_y_pred),1),1))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([107420. , 148650. , 210902.5, ..., 176320. ,  76169.3, 229001.5])

Prepare submission file

In [ ]:
len(entry_y_pred)

1459

In [ ]:
Id =list(range(1461, 2920))
len(Id)

1459

In [ ]:
SalePrice = entry_y_pred

In [ ]:
ef = pd.DataFrame(list(zip(Id,SalePrice)), columns=['Id', 'SalePrice'])
ef

        Id  SalePrice
0     1461   107420.0
1     1462   148650.0
2     1463   210902.5
3     1464   175483.2
4     1465   173779.5
...    ...        ...
1454  2915    75831.1
1455  2916    89451.1
1456  2917   176320.0
1457  2918    76169.3
1458  2919   229001.5

[1459 rows x 2 columns]

In [ ]:


ef.to_csv('house_price_submission.csv', index=False)

**Conclusion:**

The test file did not have the same number of features as the train file. So I had to ensure that all the features that were in the test file were inluded in the train model, and also remove those features in the train file that were not in the test file.

**Improvements:** 

1. More time on identifying missing values instead of just fillna = 0. Maybe use mean for numerical.
2. Identifying and removing outliers.
3. Use Ridge , Lasso, Elastic Net on Linear regression models to reduce overfitting.